/*  Global */

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

table {
  border: 3px solid gray;
}

/* Input placeholder text */
input{
  text-indent: 10px;
}

/* Table */
td {
  padding: 4px !important;
}

/* Action Button */
#calculate_button {
  text-indent: 0px;
  background-color: #001bff !important;
  color: #ffffff;
}

#reset_button {
  text-indent: 0px;
  background-color: #ff0000 !important;
  color: #ffffff;
}

#boxer_red_name_label {
  background-color: #ff0000;
  color: #ffffff;
}

#boxer_blue_name_label {
  background-color: #001bff;
  color: #ffffff;
}

#round_score_head_red {
  background-color: #ff0000;
  color: #ffffff;
}

#round_score_head_blue {
  background-color: #001bff;
  color: #ffffff;
}