/*  Global */

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-image: url(/assets/images/main_bg_image.jpg) !important;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.main {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  /* padding-top: 30px; */
}

/* Animate CSS */
.animate__animated.animate__jackInTheBox {
  --animate-duration: 3s;
}

/* Input placeholder text */
input{
  text-indent: 10px;
}

/* Table */
table {
  border: 3px solid gray;
  background-color: #ffffff;
}

td {
  padding: 4px !important;
}

#points_deducted_head_red {
  background-color: #ff0000;
  color: #ffffff;
}

#points_deducted_head_blue {
  background-color: #001bff;
  color: #ffffff;
}

/* Action Button */
#calculate_button {
  text-indent: 0px;
  background-color: #001bff !important;
  color: #ffffff;
}

#calculate_button:hover {
  background-color: #ffffff !important;
  color: #001bff;
}

#reset_button {
  text-indent: 0px;
  background-color: #ff0000 !important;
  color: #ffffff;
}

#reset_button:hover {
  background-color: #ffffff !important;
  color: #ff0000;
}

#boxer_red_name_label {
  background-color: #ff0000;
  color: #ffffff;
}

#boxer_blue_name_label {
  background-color: #001bff;
  color: #ffffff;
}

#round_score_head_red {
  background-color: #ff0000;
  color: #ffffff;
}

#round_score_head_blue {
  background-color: #001bff;
  color: #ffffff;
}

/* How to score page */
h4 {
  color: #ffffff;
  text-transform: uppercase;
}

p {
  color: #ffffff;
  font-size: 1.2rem;
}

ol li {
  color: #ffffff;
  font-size: 1.2rem;
}

#winner_is {
  background-color: #ffffff;
  min-width: 100%;
  color: black;
  padding: 10px 10px;
  min-height: 2.5rem;
}

/* Scoring Explained Page */
.how_to_score_a_fight_bg {
  background-color: rgba(0, 0, 0, .70);
}

#how_to_score_content {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  padding-top: 30px;
}

@media screen and (max-width: 991px) {
  #how_to_score_content {
    padding-top: 20px;
  }
}

@media screen and (max-width: 769px) {
  #how_to_score_content {
    overflow-y: scroll !important;
  }
}

@media screen and (max-height: 570px) {
  #how_to_score_content {
    overflow-y: scroll !important;
  }
}