/*  Global */

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

table {
  border: 3px solid gray;
}

/* Input placeholder text */
input{
  text-indent: 10px;
}

/* Table */
td {
  padding: 4px !important;
}